body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 0.8;
    line-height: 1.5;
}

* {
    margin: 20px;
}

header {
    font-size: 1.5rem;
}

code {
    background-color: #f2f2f2;
}

.introducing {
    font-style: italic;
}

#navbar {
    position: fixed;
    background-color: #ffffe6;
    width: 300px;
}

#navbar li {
    left: 0;
    list-style-type: none;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    width: 70%;
}

@media (max-width: 400px) {
    body {
        display: flex;
        flex-direction: column;
    }

    #navbar {
        position: static;
        width: auto;
    }

    #main-doc {
        position: static;
        width: auto;
        margin: auto;
    }
}
