body {
    font-family: sans-serif;
}

video {
    width: 100%;
    height: auto;
}

#header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    height: 205px;
    width: 100%;
    background-color: #f3e6ff;
    z-index: 1;
}

#header-img {
    height: 200px;
    width: auto;
    margin-right: 500px;
}

#nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: calc(100% - 200px);
    font-size: 1.5rem;
}

#reste {
    position: absolute;
    top: 205px;
    background-color: #f3e6ff;
}

#top-presentation {
    margin: 50px;
    text-align: center;

}

#email, #submit {
    padding: 8px 15px;
    text-align: center;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}

#email {
    width: 25%;  
}

#submit {
    background-color: #7700e6;
    border: none;
    color: white;
    width: 15%;
}

#top-features {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 100px;
}

.feature-element {
    display: flex;
    margin: 50px;
}

.img-features {
    width: 250px;
    object-fit: contain;
    height: auto;
}

.text-features {
    width: 66%;
    margin-left: 100px;
    margin-right: 100px;
}

#prices {
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
}

#iframe {
    position: relative;
    left: 300px;
    width: 600px;
    height: auto;
    object-fit: contain;
}

.model {
    width: 300px;
    height: 300px;
    border: 2px solid #4f0099;
}

.model > * {
    text-align: center;
}

.model > p {
    margin: 25px;
}

h3 {
    top: 0;
    padding: 15px;
    background-color: #c180ff;
}

a:link, a:visited, a:hover, a:active {
    color: #000;
    text-decoration: none;
}

#footer {
    background-color: #d1d1e0;
    display: flex;
    flex-direction: column;
}

#footer > p {
    text-align: center;
}

#footer-links {
    display: flex;
    justify-content: space-evenly;
}

#footer > p, #footer-links {
    padding: 20px;
}

@media screen and (max-width: 600px) {
    #nav-bar {
    float: none;
    width: 100%;
    }

    #prices {
        display: flex;
        flex-direction: column;
    }

}