body {
    background-color: rgb(0, 0, 0);
  }

  #back {
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 800px;
    height: 600px;
    background: linear-gradient(black, #000099, #66c2ff, #4d004d), blue;
  }

.balloons {
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    animation-iteration-count: infinite;
}
  
.balloon-1 {
    margin-top: 0px;
    margin-left: 5%;
    animation-name: bounce-1;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
  
.balloon-2 {
    margin-top: 0px;
    margin-left: 35%;
    animation-name: bounce-2;
    animation-duration: 0.85s;
    animation-timing-function: ease-out;  
}
  
.balloon-3 {
    margin-top: 0px;
    margin-left: 70%;
    animation-name: bounce-3;
    animation-duration: 1.15s;
    animation-timing-function: ease-out;
}
  
@keyframes bounce-1 {
    0% {
        top: 0px;
    }
  
    50% {
        top: 400px;
        width: 100px;
        height: 70px;
    }

    100% {
        top: 0px;
    }
}
  
@keyframes bounce-2 {
    0% {
        top: 0px;
    }
    50% {
        top: 400px;
        width: 100px;
        height: 70px;
    }
  
    100% {
        top: 0px;
    }
}
  
@keyframes bounce-3 {
    0% {
        top: 0px;
    }
    50% {
        top: 400px;
        width: 100px;
        height: 70px;
    }
  
    100% {
        top: 0px;
    }
}